@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: transparent;
  z-index: 999;
  position: absolute;
  top: 0px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  padding: 1em 2em;
}
.brand__logo {
  width: 140px;
}
.header__mobile__btn {
  border: none;
  display: none;
  cursor: pointer;
  background-color: #ffd857;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}
.header__mobile__btn svg {
  width: 22px;
  height: 22px;
}
.nav {
  display: flex;
  align-items: center;
}
.nav__link {
  position: relative;
  margin-left: 0.6em;
}
.nav__link__input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  background-color: #ffd857;
}
.nav__link__content {
  padding: 0.6em 1.5em;
  border-radius: 50px;
  text-decoration: none;
  font-size: 15px;
  color: #000000;
}
.nav__link__input:hover ~ .nav__link__content,
.nav__link__input:checked ~ .nav__link__content {
  transition: 300ms ease-in-out;
  background-color: #ffd857;
}
.nav__link__login {
  padding: 0.55em 2em;
  border-radius: 50px;
  text-decoration: none;
  font-size: 15px;
  margin-left: 1em;
  color: #000000;
  border: 1px solid rgb(112, 112, 112, 0.5);
}
.nav__link__login:hover {
  background: #3cb149;
  transition: 300ms ease-in-out;
  border: 1px solid #3cb149;
  color: #fff;
}
.nav__link__register {
  padding: 0.55em 2em;
  border-radius: 50px;
  text-decoration: none;
  font-size: 15px;
  margin-left: 1em;
  background: #3cb149;
  color: #ffffff;
  border: 1px solid #3cb149;
}
.nav__link__register:hover {
  background: transparent;
  transition: 300ms ease-in-out;
  border: 1px solid rgb(112, 112, 112, 0.5);
  color: rgb(0, 0, 0);
}

.home__jumbotron {
  width: 100%;
  background: linear-gradient(135deg, #ffffff, #e6e6e6);
}
.home__jumbotron__content {
  width: 100%;
  max-width: 1440px;
  min-height: 700px;
  margin: 0em auto;
  padding: 0em 2em;
  display: flex;
}
.home__jumbotron__content__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.home__jumbotron__content__left__heading {
  font-size: 30px;
  color: #000000;
  margin-bottom: 0.3em;
}
.home__jumbotron__content__left__info {
  font-size: 14px;
  color: #000000;
  margin-bottom: 1.5em;
}
.home__jumbotron__content__left__buttons {
  display: flex;
  align-items: center;
}
.home__jumbotron__content__left__buttons__primary {
  margin-right: 1em;
  color: white;
  padding: 0.5em 1.5em;
  background-color: #8a8a8a;
  text-decoration: none;
  border-radius: 50px;
  font-size: 14px;
}
.home__jumbotron__content__left__buttons__primary:hover {
  transition: 300ms ease-in-out;
  background-color: #3cb149;
}
.home__jumbotron__content__left__buttons__secondary {
  margin-right: 1em;
  color: black;
  padding: 0.5em 1.5em;
  border: 1px solid #8a8a8a;
  text-decoration: none;
  font-size: 14px;
  border-radius: 50px;
}
.home__jumbotron__content__left__buttons__secondary:hover {
  transition: 300ms ease-in-out;
  background-color: #ffd857;
  border-color: #ffd857;
}
.home__jumbotron__content__right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex: 1;
}
.home__jumbotron__content__right__img {
  width: 100%;
}
.home__services {
  width: 100%;
}
.home__services__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  padding: 5em 0em;
  margin: 0em auto;
}
.home__services__content__header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4em;
}
.home__services__content__header__button {
  position: relative;
}
.home__services__content__header__button__input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.home__services__content__header__button__content {
  border: 2px solid transparent;
  background-color: transparent;
  border-radius: 10px;
  margin-right: 1em;
  display: flex;
  align-items: center;
  padding: 1em 2em;
}
.home__services__content__header__button__content__text {
  color: #7d7d7d;
  line-height: 120%;
}
.home__services__content__header__button__content__text span {
  font-weight: bold;
}
.home__services__content__header__button__content__icon {
  margin-right: 1em;
  color: #7d7d7d;
}
.home__services__content__header__button__input:hover
  ~ .home__services__content__header__button__content {
  transition: 300ms ease-in-out;
  border: 2px solid #fffbef;
  background-color: #fffbef;
}
.home__services__content__header__button__input:hover
  ~ .home__services__content__header__button__content
  .home__services__content__header__button__content__text {
  transition: 300ms ease-in-out;
  color: black;
}

.home__services__content__header__button__input:hover
  ~ .home__services__content__header__button__content
  .home__services__content__header__button__content__icon {
  transition: 300ms ease-in-out;
  color: #3cb149;
}
.home__services__content__header__button__input:checked
  ~ .home__services__content__header__button__content {
  transition: 300ms ease-in-out;
  border: 2px solid #ffd857;
  background-color: #fffbef;
}
.home__services__content__header__button__input:checked
  ~ .home__services__content__header__button__content
  .home__services__content__header__button__content__text {
  transition: 300ms ease-in-out;
  color: black;
}

.home__services__content__header__button__input:checked
  ~ .home__services__content__header__button__content
  .home__services__content__header__button__content__icon {
  transition: 300ms ease-in-out;
  color: #3cb149;
}
.home__services__content__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.home__services__content__main__entry {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.home__services__content__main__entry__icon {
  width: 150px;
  height: 150px;
  border: 1px solid #3cb149;
  border-radius: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5em;
  color: #3cb149;
}
.home__services__content__main__entry__icon svg {
  width: 70px;
  height: 70px;
}
.home__services__content__main__entry__text {
  font-size: 16px;
}
.home__services__content__main__entry:hover {
  transition: 300ms ease-in-out;
}
.home__services__content__main__entry:hover
  .home__services__content__main__entry__icon {
  transition: 300ms ease-in-out;
  background-color: #3cb149;
  color: white;
}
@media (max-width: 1000px) {
  .home__jumbotron__content__right {
    align-items: center;
  }
}

@media (max-width: 800px) {
  .header__mobile__btn {
    display: flex;
  }
  .nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 90px;
    background-color: white;
    width: 100vw;
    left: 0px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    padding: 1em;
  }
  .nav__link {
    margin-left: 0em;
    margin-bottom: 0.5em;
    width: 100%;
  }
  .home__jumbotron__content {
    flex-direction: column;
  }
  .home__jumbotron__content__left {
    min-height: 500px;
    align-items: center;
  }
  .home__jumbotron__content__left * {
    text-align: center;
  }
  .home__jumbotron__content__right {
    justify-content: center;
  }
  .home__jumbotron__content__right__img {
    max-width: 500px;
  }
}
@media (max-width: 600px) {
  .home__services__content__header {
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  .home__jumbotron__content__left__heading {
    font-size: 25px;
    line-height: 100%;
  }
  .home__jumbotron__content__left__buttons {
    flex-direction: column;
    width: 100%;
  }
  .home__jumbotron__content__left__buttons__primary {
    margin-bottom: 1em;
    min-width: 50%;
  }
  .home__jumbotron__content__left__buttons__secondary {
    min-width: 50%;
  }
}
