@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1440px;
  padding: 1em 2em;
  z-index: 999;
}
.header__background__img {
  width: 100%;
  height: 100%;
}
.header__background__img img {
  width: 100%;
  height: 650px;
}
.background__img {
  width: 100%;
  background: cover;
  position: relative;
  opacity: 0.3;
  height: 100%;
}
.header__mobile__btn {
  border: none;
  display: none;
  cursor: pointer;
  background-color: #ffd857;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}
.header__mobile__btn svg {
  width: 22px;
  height: 22px;
}
.nav {
  display: flex;
  align-items: center;
}

.nav__link__login {
  padding: 0.55em 2em;
  border-radius: 5px;
  text-decoration: none;
  font-size: 15px;
  margin-left: 1em;
  color: #ffffff;
  border: 1px solid rgb(112, 112, 112, 0.1);
  background: #3cb149;
}
.nav__link__login:hover {
  background: #fff;
  transition: 300ms ease-in-out;
  border: 1px solid #fff;
  color: #000000;
}
.nav__link__register {
  padding: 0.5em 1.5em;
  border-radius: 5px;
  text-decoration: none;
  font-size: 15px;
  margin-left: 1em;
  background: #fff;
  color: #000000;
  border: 1px solid #fff;
}
.nav__link__register:hover {
  background: #3cb149;
  transition: 300ms ease-in-out;
  border: 1px solid rgb(112, 112, 112, 0.1);
  color: #fff;
}

// home section

.home__services__content__main__entry__enter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.home__services__content__main__entry {
  margin: 1em;
}

.home__jumbotron {
  width: 100%;
  z-index: 3;
  top: 0;
  position: absolute;
}
.home__jumbotron__content {
  width: 100%;
  max-width: 1440px;
  min-height: 700px;
  margin: 0em auto;
  padding: 0em 2em;
  display: flex;
}
.home__jumbotron__content__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.home__jumbotron__content__left__heading {
  font-size: 30px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 0.3em;
}
.home__jumbotron__content__left__info {
  font-size: 14px;
  color: #000000;
  margin-bottom: 1.5em;
}
.home__jumbotron__content__left__buttons {
  display: flex;
  align-items: center;
}
.home__jumbotron__content__left__buttons__primary {
  margin-right: 1em;
  color: white;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}
.home__jumbotron__content__left__buttons__primary img {
  width: 150px;
  height: 60px;
}

.home__jumbotron__content__left__buttons__secondary {
  margin-right: 1em;
  color: white;
  text-decoration: none;
  font-size: 14px;
}
.home__jumbotron__content__left__buttons__secondary img {
  width: 150px;
  height: 60px;
  cursor: pointer;
}

.home__services {
  width: 100%;
}
.Solution {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  margin: 2em 0em;
}
.Solution__heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Solution__heading__main__head {
  font-size: 30px;
  font-weight: 600;
}
.home__services__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0em auto;
}
.home__services__content__header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}
.home__services__content__header__button {
  position: relative;
}
.home__services__content__header__button__input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.home__services__content__header__button__content {
  border: 2px solid transparent;
  background-color: transparent;
  border-radius: 10px;
  margin-right: 1em;
  display: flex;
  align-items: center;
  padding: 1em 2em;
}
.home__services__content__header__button__content__text {
  color: #7d7d7d;
  line-height: 120%;
}
.home__services__content__header__button__content__text span {
  font-weight: bold;
}
.home__services__content__header__button__content__icon {
  margin-right: 1em;
  color: #7d7d7d;
}
.home__services__content__header__button__input:hover
  ~ .home__services__content__header__button__content {
  transition: 300ms ease-in-out;
  border: 2px solid #fffbef;
  background-color: #fffbef;
}
.home__services__content__header__button__input:hover
  ~ .home__services__content__header__button__content
  .home__services__content__header__button__content__text {
  transition: 300ms ease-in-out;
  color: black;
}

.home__services__content__header__button__input:hover
  ~ .home__services__content__header__button__content
  .home__services__content__header__button__content__icon {
  transition: 300ms ease-in-out;
  color: #3cb149;
}
.home__services__content__header__button__input:checked
  ~ .home__services__content__header__button__content {
  transition: 300ms ease-in-out;
  border: 2px solid #ffd857;
  background-color: #fffbef;
}
.home__services__content__header__button__input:checked
  ~ .home__services__content__header__button__content
  .home__services__content__header__button__content__text {
  transition: 300ms ease-in-out;
  color: black;
}

.home__services__content__header__button__input:checked
  ~ .home__services__content__header__button__content
  .home__services__content__header__button__content__icon {
  transition: 300ms ease-in-out;
  color: #3cb149;
}
.Carousel__div {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}
.carousel {
  z-index: 4;
  margin: 2em 0em;
}
.home__services__content__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.home__services__content__main__enter {
  display: flex;
}
.home__services__content__main__entry {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.home__services__content__main__entry__icon {
  width: 170px;
  height: 170px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 20px;
  border: 1px solid #fff;
  border-radius: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5em;
  color: #3cb149;
  transition: 300ms ease-in-out;
}
.home__services__content__main__entry__icon svg {
  width: 70px;
  height: 70px;
}
.home__services__content__main__entry__text {
  font-size: 16px;
}

.home__services__content__main__entry:hover
  .home__services__content__main__entry__icon {
  transition: 300ms ease-in-out;
  background-color: #3cb149;
}
.home__services {
  z-index: 10;
}
.swiperslide {
  filter: grayscale(100%);
}
.swiperslide img {
  width: 100%;
}
.home__services__content__main {
  display: flex;
}

// About Section
.About__sec {
  width: 100%;
  font-family: Montserrat;
}
.About__section__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0em 2em;
  margin: 2em 0em;
}
.About__section__container__heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.About__section__container__heading__main {
  font-size: 30px;
  font-weight: 600;
  position: relative;
}
.About__section__container__heading__main::after {
  content: " ";
  width: 55%;
  background-color: #3cb149;
  height: 3px;
  bottom: -2px;
  left: 138px;
  position: absolute;
}
.About__section__container__heading__second {
  font-size: 14px;
}
.About__section__container__heading__second__learn__more {
  color: #000000;
  font-size: 15px;
}
.About__section__container__heading__second__learn__more:hover {
  color: #3cb149;
}

.About__section__content__cards {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  z-index: 3;
  margin-top: 2em;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
.About__section__content__card__layout:nth-child(even) {
  flex-direction: column-reverse;
}

.About__section__content__card__layout {
  width: 30%;
  margin: 0em 1em;
  display: flex;
  flex-direction: column;
}
.About__section__content__card__layout__card__img {
  width: 100%;
  height: 250px;
}
.About__section__content__card__layout__card__img img {
  width: 100%;
  height: 250px;
}

.About__section__content__card__layout__card__data {
  width: 100%;
  background: #fff7dc;
  padding: 1em 2em;
}
.About__section__content__card__layout__card__data:nth-child(odd) {
  background-color: #000000;
}
// .About__section__content__card__layout__card__data:nth-child(even) {
//   margin-bottom: 0.5em;
// }
.About__section__content__card__layout__heading {
  font-size: 18px;
}
.About__section__content__card__layout__para {
  font-size: 12px;
}
.About__section__content__card__layout__card__data__button button {
  padding: 0.5em 1em;
  margin-top: 2em;
  background-color: #fcca25;
  border-radius: 15px;
  outline: none;
  border: 1px solid #0000;
  cursor: pointer;
}
.About__section__content__cards__background__img {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}
.About__section__content__cards__background__img__left {
  width: 50%;
  height: 500px;
}
.About__section__content__cards__background__img__left img {
  width: 100%;
  height: 100%;
}
.About__section__content__cards__background__img__right {
  width: 50%;
  height: 500px;
}
.About__section__content__cards__background__img__right img {
  width: 100%;
  height: 100%;
}
// Simplified__payment

.Simplified__payment {
  width: 100%;
  margin-top: 5em;
}
.Simplified__payment__container {
  display: flex;
  margin-top: -12em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 10px;
  margin: 0 auto;
  max-width: 1440px;
}
.Simplified__payment img {
  width: 100%;
  height: 300px;
  background: cover;
}

// Payment overview CSS

.payment__overview__section {
  display: flex;
  position: relative;
  width: 100%;
  height: 500px;
  margin: 2em 0em;
}
.payment__overview__section__img {
  width: 100%;
  height: 100%;
}
.payment__overview__section__overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.payment__overview__section__overlay__heading {
  font-size: 22px;
  color: white;
  font-weight: bold;
  margin-bottom: 1em;
  position: relative;
}

.payment__overview__section__overlay__heading::after {
  content: "";
  right: 0px;
  width: 45%;
  position: absolute;
  top: 30px;
  height: 3px;
  background-color: #fcca25;
}
.payment__overview__section__info {
  font-size: 14px;
  color: white;
}
.payment__overview__section__info a {
  color: #efefef;
  transition: 0.3s ease-in-out;
}
.payment__overview__section__info a:hover {
  color: #3cb149;
}
.industry__overview {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
}
.industry__overview__section {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 2em 0em;
  flex-direction: column;
  padding: 0em 1em;
  justify-content: center;
}
.industry__overview__section__header {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  position: relative;
  width: fit-content;
  margin: 0 auto;
  max-width: 1440px;
}
.industry__overview__section__header::after {
  content: "";
  width: 40%;
  height: 3px;
  bottom: 0px;
  right: 0px;
  background-color: #3cb149;
  position: absolute;
}
.industry__overview__section__container__header {
  position: relative;
  display: flex;
  justify-content: center;
}
.industry__overview__section__entry {
  width: 100%;
  margin: 2em 0em;
  height: 100%;
}
.industry__overview__section__entry__container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.industry__overview__section__entry__container__cards {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.industry__overview__section__entry__container__cards img {
  width: 100%;
  height: 250px;
}
.industry__overview__section__entry__container__cards__data {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.industry__overview__section__entry__container__cards__data__header {
  font-size: 20px;
  font-weight: 600;
}
.industry__overview__section__entry__container__cards:nth-child(2) {
  flex-direction: column-reverse;
}

// Quality Services Css

.quality__services__section {
  display: flex;
  position: relative;
  width: 100%;
  height: 600px;
  margin-top: 2em;
}
.quality__services__section__banner__img {
  width: 100%;
  margin: 0 auto;
}
.quality__services__section__banner__img img {
  width: 100%;
  height: 100%;
}
.quality__services__section__banner__img__overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.quality__services__section__banner__img__overlay__header {
  font-size: 22px;
  font-weight: 500;
  color: #fcca25;
  margin-bottom: 0.3em;
  position: relative;
}

.quality__services__section__banner__img__overlay__header__middle {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0.5em;
  position: relative;
  text-align: center;
}
.quality__services__section__banner__img__overlay__header__middle__text {
  color: #3cb149;
}
.quality__services__section__banner__img__overlay__header__middle__detail {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
  max-width: 50%;
  margin-bottom: 1em;
  position: relative;
}
.accordian__section {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1em 0em;
  height: 500px;
  position: relative;
}
.accordian__section__container__heading {
  position: absolute;
  right: 200px;
  top: 65px;
}
.accordian__section__heading {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 1em;
}
.accordian__section__heading::after {
  content: "";
  background-color: #fcca25;
  width: 50%;
  height: 3px;
  position: absolute;
  right: 72px;
  bottom: 35px;
}

.accordian__section__entry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em 1em;
  background-color: #efefef;
  border-radius: 10px;
  width: 600px;
  margin: 0.5em 0em;
}
.accordian__section__entry__questions {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border: 1px solid #efefef;
  cursor: pointer;
}
.accordian__section__entry__answer {
  display: flex;
  align-items: flex-start;
  font-size: 12px;
  padding: 0.5em;
}

@media (max-width: 1000px) {
  .home__jumbotron__content__right {
    align-items: center;
  }
  .About__section__content__card__layout {
    width: 50%;
    margin-bottom: 2em;
  }
  .About__section__content__card__layout:nth-child(even) {
    flex-direction: column;
  }
  .Simplified__payment {
    margin-top: 2em;
  }
  .About__section__content__cards__background__img {
    display: none;
  }
  .industry__overview__section__entry__container {
    flex-direction: column;
    width: 100%;
    padding: 0em 2em;
    display: flex;
    align-items: center;
  }
  .industry__overview__section__entry__container__cards:nth-child(2) {
    flex-direction: column;
  }
  .industry__overview__section__entry__container__cards {
    width: 50%;
  }
}
@media (max-width: 870px) {
  .About__section__content__card__layout {
    width: 62%;
    margin-bottom: 2em;
  }
  .industry__overview__section__entry__container__cards {
    width: 62%;
  }
}

@media (max-width: 800px) {
  .header__mobile__btn {
    display: flex;
  }
  .nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 90px;
    background-color: white;
    width: 100vw;
    left: 0px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    padding: 1em;
  }
  .nav__link {
    margin-left: 0em;
    margin-bottom: 0.5em;
    width: 100%;
  }
  .home__jumbotron__content {
    flex-direction: column;
  }
  .home__jumbotron__content__left {
    min-height: 500px;
    align-items: center;
  }
  .home__jumbotron__content__left * {
    text-align: center;
  }
  .home__jumbotron__content__right {
    justify-content: center;
  }
  .home__jumbotron__content__right__img {
    max-width: 500px;
  }
  .About__section__content__card__layout {
    width: 75%;
    margin-bottom: 2em;
  }
  .industry__overview__section__entry__container__cards {
    width: 75%;
  }
}

@media (max-width: 790px) {
  .About__section__content__cards {
    flex-direction: column;
    width: 100%;
  }
  .About__section__content__card__layout {
    width: 68%;
    margin-bottom: 2em;
  }
  .industry__overview__section__entry__container__cards {
    width: 68%;
  }
  .industry__overview__section__entry__container {
    padding: 0em 0em;
  }
  .quality__services__section__banner__img__overlay__header__middle__detail {
    max-width: 80%;
  }
  .accordian__section {
    padding: 1em 0.5em;
  }
  .accordian__section__entry {
    width: 100%;
    padding: 1em 0em;
  }
  .payment__overview__section__img {
    width: 200%;
    margin-left: -50%;
  }
  .payment__overview__section {
    overflow-x: hidden;
  }
}
@media (max-width: 600px) {
  .home__services__content__header {
    flex-direction: column;
  }
  .About__section__content__card__layout {
    width: 70%;
  }
  .About__section__container {
    padding: 0em 0em;
  }
  .industry__overview__section__entry__container__cards {
    width: 70%;
  }
  .payment__overview__section__img {
    width: 200%;
    margin-left: -50%;
  }
  .payment__overview__section {
    overflow-x: hidden;
  }
  .header__background__img img {
    width: 130%;
    margin-left: -25%;
  }
  .header__background__img {
    overflow-x: hidden;
  }
}
@media (max-width: 550) {
  .payment__overview__section__img {
    width: 200%;
    margin-left: -50%;
  }
  .payment__overview__section {
    overflow-x: hidden;
  }
  .header__background__img img {
    width: 200%;
    margin-left: -50%;
  }
  .header__background__img {
    overflow-x: hidden;
  }
}
@media (max-width: 400px) {
  .Solution__heading__main__head {
    text-align: center;
  }
  .home__jumbotron__content__left__heading {
    font-size: 25px;
    line-height: 100%;
  }
  .About__section__content__cards {
    flex-direction: row;
  }
  .home__jumbotron__content__left__buttons {
    flex-direction: column;
    width: 100%;
  }
  .home__jumbotron__content__left__buttons__primary {
    margin-bottom: 1em;
    min-width: 50%;
  }
  .home__jumbotron__content__left__buttons__secondary {
    min-width: 50%;
  }
  .About__section__content__card__layout {
    width: 100%;
  }
  .About__section__container__heading__main {
    font-size: 20px;
  }
  .About__section__container__heading__second {
    font-size: 12px;
    text-align: center;
  }
  .industry__overview__section__entry__container__cards {
    width: 100%;
  }
  .industry__overview__section__entry {
    padding: 0em 1em;
  }
  .quality__services__section__banner__img__overlay__header__middle__detail {
    max-width: 100%;
    text-align: center;
  }
  .quality__services__section__banner__img__overlay__header__middle {
    margin-bottom: 0;
    line-height: 20px;
  }
  .header__background__img img {
    width: 200%;
    margin-left: -40%;
  }
  .header__background__img {
    overflow-x: hidden;
  }
}
